/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/

/*GLOBAL*/
* {
    background-color:#2D333B ;
    color: #f0f6fc;
}

/*HEADER*/
header {
    background-color:#2D333B ;
    font-size: 20pt ;
    color: #f0f6fc;
}

/*MAIN*/
main{
    display: grid;
    padding: 10px;
}

/*REPO NAV*/
nav{
    grid-area: header;
}

/*CONTAINER*/


/*LEFT PROFILE*/
#left-sidebar {
    grid-area: menu;
}

/*RIGHT REPOS*/
#right-sidebar {
    grid-area: menu;
}